.sidenav {
  display: flex;
  flex-direction: column;

  &.is-mobile {
  .toolbar {
      position: fixed;
      /* Make sure the toolbar will stay on top of the content as it scrolls past. */
      z-index: 2;
    }

    .container {
      flex: 1 0 auto;
    }
  }

  .container {
    flex: 1;
    position: initial;

    .side {
      width: 12.5rem;
      margin-top: 64px;
    }
  }
}
