.card-list {
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  position: relative;
  white-space: normal;
  width: 17rem;

  .title {
    font-size: 1rem;
  }

  .edit {
    .add-input {
      padding: 0.25rem;
      min-height: 3.5rem;

      input {
        width: 100%;
        border: 0;
        resize: none;

        &:focus {
          outline: none;
        }
      }
    }

    .actions {
      margin-top: 1rem;

      .cancel {
        margin-left: 0.5rem;
      }
    }
  }


  .add-card-button {
    .content {
      display: flex;
      align-items: center;
      color: #5e6c84;
    }
  }
}
