@import 'variables';

.title {
  text-transform: capitalize;
}

.divider {
  margin: 1rem 0;
}

.level {
  display: flex;

  .label {
    padding-right: 0.5rem;
  }
}

.resources {
  margin: 2rem 0;
  width: 100%;

  background-color: lighten($color: $background-color, $amount: 10)
}

.actions {
  display: flex;
  justify-content: flex-end;

  > * {
    margin: 0 1rem;
  }
}
